*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.appointment_header{
    height: 500px;
    background-image: url('../../../images/chairBg.png');
    background-size: cover;
    background-position: center;
}
